.toolbar__item.icon-button {
  padding: 0 0.4rem;
  cursor: unset;

  button {
    display: inline-block;
    color: var(--navbar-text-color);
    font-size: 2.2rem;
    border-radius: 50%;
    border: 1px solid var(--navbar-text-color);
    width: 4.2rem;
    height: 4.2rem;

    &:hover {
      background-color: var(--navbar-active-item-bg-color);
    }
  }
}