.page.catalog {
  $solid-line: 1px solid var(--divider-color);
  padding-bottom: 0;

  .catalog-page__header {
    position: relative;
    display: block;
    padding: 5.6rem 0 2.8rem;
    border-bottom: $solid-line;
    margin-bottom: 4.6rem;

    h1 {
      font-size: 4.6rem;
      font-weight: 600;
      width: max-content;
      padding: 0.8rem 1.2rem;
      border: $solid-line;
      box-shadow: 8px -8px 0px 0px var(--subtle-box-shadow-color);
    }
  }

  .catalog-page__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    @include from ($tablet) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}