

.dropdown-container {
  $dropdown-min-width: 12rem;
  $dropdown-max-width: 22rem;
  $outline: 1px solid var(--divider-color);

  %list-item-shared {
    width: max-content;
    min-width: $dropdown-min-width;
    max-width: $dropdown-max-width;
    user-select: none;
  }

  position: relative;
  display: inline-block;
  z-index: 5;
  color: var(--dropdown-text-color);

  .dropdown__selected-item {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid var(--divider-color);
    background-color: var(--dropdown-bg-color);
    padding: 1rem 0.8rem;

    @extend %list-item-shared;

    .text {
      display: inline-block;
      font-size: var(--size-0);
      margin-top: 0.2rem;
      margin-right: 1.8rem;
      flex-grow: 1;
      text-align: left;
      
      @extend %ellipsis;
    }

    .selected-item__arrow {
      display: inline-block;
      flex-shrink: 0;
      font-size: var(--size-3);
      transition: transform 0.2s ease-out;
    }

    &:hover,
    &:focus {
      .text {
        font-weight: 600;
      }

      background-color: var(--dropdown-bg-color_hover);
    }
  }

  .dropdown__option-list {
    position: absolute;
    display: none;
    left: 0;
    bottom: -0.4rem;
    transform: translateY(100%);
    background-color: var(--dropdown-bg-color);
    border: $outline;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.15);

    &-item {
      @extend %list-item-shared;

      padding: 1rem 0.8rem;
      font-size: var(--size-0);
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: $outline;
      }

      &:hover {
        background-color: var(--dropdown-bg-color_hover);
      }
    }
  }
}

.dropdown-container.is-expanded {

  .dropdown__selected-item {
    background-color: var(--dropdown-bg-color_hover);

    .text {
      font-weight: 600;
    }

    .selected-item__arrow {
      transform: rotate(180deg);
    }
  }

  .dropdown__option-list {
    display: block;
    opacity: 0;
    animation: dropdown-in 0.3s ease-out forwards;
  }
}

@keyframes dropdown-in {
  0% {
    opacity: 0;
    transform: translateY(calc(100% + 1.2rem));
  }

  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}