.catalog-page__product-list {
  position: relative;
  display: block;
  flex-grow: 1;
  min-height: 140vh;

  .product-list__section-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 3.6rem;

    > * {
      // in case the children break into two lines
      margin-bottom: 2.4rem;
    }

    @include from ($tablet) {
      margin-top: 0;
    }
  }

  .section-header__text {
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 3.6rem;

    > * { 
      font-weight: 600;
    }

    h1 {
      display: inline-block;
      font-size: var(--h-size-0);
    }

    .items-count {
      display: block;
      color: var(--sub-header-text-color);
      margin-top: 0.3rem;

      .slash {
        display: none;
        margin: 0 0.8rem;
      }

      .count {
        display: block;
        letter-spacing: 0.75px;
        font-size: 1.5rem;

        .num {
          display: inline-block;
          text-decoration: underline;
          margin-right: 0.6rem;
          font-size: var(--size-1);
        }
      }

      @include from ($tablet) {
        display: inline-block;
        margin-top: 0;

        .count,
        .slash {
          display: inline-block;
        }
      }
    }
  }

  .sort-by {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .text {
      display: inline-block;
      margin-right: 1.6rem;
    }
  }

  .product-list__content {
    position: relative;
    display: block;
    padding-bottom: 2.6rem;

    .product-list__loading-animation {
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 6.8rem;

      .product-list__loader {
        margin-bottom: 0.4rem;
      }

      .product-list__loader-text {
        text-align: center;
        font-size: 1.4rem;
      }
    }
    
    .product-list__item:not(:last-child) {
      margin-bottom: 3.2rem;
    }
  }
}