:root {
  // main colors that compose the theme of the website
  --primary-1: #F20505;
  --primary-2: #F25D27;
  --primary-3: #ECF238;
  --secondary-1: #03A696;
  --secondary-2: #025159;
  --warning: var(--primary-1);

  --text-0: #262626; // a primary text-color to use on a white bg
  --text-0_1: #595959; // a slightly lighter primary (or, #636159)
  --text-0_2: #898989;
  --text-1: #FFFFFF; // a secondart text-color to use on a colorized bg.

  --background-0: #FFFFFF;
  --background-1: #F2EBE9;

  // general
  --divider-color: #BDBDBD;

  // navigation-bar
  --navbar-bg-color: var(--background-0);
  --navbar-text-color: var(--text-0);
  --navbar-divider-color: #BDBDBD;
  --navbar-active-item-bg-color: var(--primary-3);

  // forms - checkbox
  --checkbox-text-color: var(--text-0);
  --checkbox-mark-color: var(--secondary-1);
}