:root {
  // main colors that compose the theme of the website
  --primary-1: #D9665B;
  --primary-2: #D99066;
  --primary-3: #F2DC9B;
  --secondary-1: #022873;
  --secondary-2: #022873;
  --warning: #FF152E;

  --text-0: #262626; // a primary text-color to use on a white bg
  --text-0_1: #595959; // a slightly lighter primary (or, #636159)
  --text-1: #FFFFFF; // a secondart text-color to use on a colorized bg.

  --background-0: #FFFFFF;
  --background-1: #F2EBE9;
}