.page {
  position: relative;
  display: block;
  width: 100%;
  max-width:  $page-content-max-width;
  height: auto;
  min-height: calc(100vh - #{$toolbar-height});
  padding: 3.6rem 2.8rem;
  margin: $toolbar-height auto 0;
  overflow-y: auto;
  border-left: 1px solid var(--divider-color);
  border-right: 1px solid var(--divider-color);

  font-size: var(--size-0);

  @include until ($page-content-max-width) {
    border-left: unset;
    border-right: unset;
  }
}