// z-indexes
$zIndex_drawer: 10;
$zIndex_modal: 20;

// breakpoints
$smallphone: 415px;
$tablet: 769px;
$desktop: 1200px;

// drawer
$drawer-max-width: 320px;

// general
$screen-min-width: 320px; // smallest width supported

@import "mixins";