// z-indexes
$zIndex_toolbar: 10;
$zIndex_drawer: 20;
$zIndex_modal: 30;

// breakpoints
$smallphone: 415px;
$tablet: 769px;
$desktop: 1200px;

// drawer
$drawer-max-width: 320px;

// toolbar
$toolbar-height: 6.8rem;

// general
$screen-min-width: 320px; // smallest width supported
$page-content-max-width: $desktop;

@import "mixins";