// z-indexes
$zIndex_toolbar: 10;
$zIndx_widget: 20;
$zIndex_drawer: 30;
$zIndex_modal: 40;

// breakpoints
$smallphone: 415px;
$tablet: 769px;
$desktop: 1200px;

// button
$button-min-height: 3.8rem;
$button-min-width: 22rem;

// drawer
$drawer-max-width: 320px;

// toolbar
$toolbar-height: 6.8rem;

// product-card
$card-width: 24rem;

// general
$screen-min-width: 320px; // smallest width supported
$page-content-max-width: $desktop;

@import "mixins";