.image-loader-box {
  position: relative;
  display: inline-block;
  width: 100%;

  > img {
    position: relative;
    display: none;
    width: 100%;
    height: auto;
  }

  > .image-loader-box__loading-animation {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: var(--image-min-height);
    background-color: var(--image-loader-bg-color);
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: translateX(-150%);
      background: linear-gradient(90deg, transparent, var(--image-loader-gradient-color), transparent);
      opacity: 0.8;
      animation: image-loader-ani 2.5s infinite;
    }
  }

  &.is-loaded {
    img { display: inline-block; }
    .image-loader-box__loading-animation { display: none; }
  }
}

@keyframes image-loader-ani {
  from { transform: translateX(-150%); }
  to { transform: translateX(150%); }
}